{% extends "postApp/popup.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} {% endblock %}



<section class="flex justify-center items-center">
    {% block content %}
    {% for message in messages %}
    <h1 class="text-red-600 absolute left-[43%] top-8">{{message}}</h1>
    {% endfor %}

    <form  class="w-[30%] m-auto bg-green-900/5 rounded-md shadow-lg shadow-black mt-16" method="POST" action="{% url 'createPost' %}">
    
    <div class="flex flex-col p-5 gap-5 ">
    {% csrf_token %}
    {% render_field form.title Placeholder='Title' class="rounded-md border-gray-900" %}
    {% render_field form.description Placeholder='Description' class="rounded-md border-gray-900" %}
    {% render_field form.category class="rounded-md border-gray-900" %}
    
    <input class=" rounded-md shadow-md shadow-black py-2 bg-green-900 text-white font-bold hover:bg-black/50 border-none transition-all" type="submit" value="Create Post">
    </div>
    </form>
    
    </section>



{% endblock %}