{% extends 'postApp/base.html' %}
{% load static %}


{% block title %} Home {% endblock %}


{% block header %} 
<div style="background-image: url('../../static/postApp/images/home-page.webp')" class=" w-[80rem] h-[15rem] bg-green-900  bg-cover m-auto my-10 rounded-md" >
    
</div>

<h1 class="text-center text-4xl font-bold text-green-800 my-10"> Welcome to Knowledge Hub! </h1>

{% endblock %}

{% block content %} 
<section>
<p class=" text-justify px-10 text-2xl py-2">Explore a world of insights and information across various topics, from science and technology to history and lifestyle. Our blog is dedicated to providing well-researched, engaging, and informative content that keeps you updated and inspired.</p>

<h2 class="px-10 text-3xl text-green-800 font-bold my-10"> What You'll Find Here:</h2>

<ul class="list-disc px-10 mb-10 text-2xl">
    <li class="">Thought-provoking articles on a range of subjects.</li>
    <li>Expert insights and well-researched content.</li>
    <li>Easy-to-read and engaging posts designed for all audiences.</li>
    <li>Stay curious, stay informed!.</li>
</ul>
<h3 class="px-10 my-10 text-2xl italic">Stay curious, stay informed!</h3>
</section>


{% endblock %}
