{% extends 'postApp/base.html' %}
{% load widget_tweaks %}
{% block title %} Create user {% endblock %}
	


		{% block content %}
		
		<section class="w-full flex flex-col justify-center items-center h-full mt-10">

            <div class="w-[35%] bg-gradient-to-tr from-green-900 to-green-300 h-[20rem] flex flex-col rounded-lg ">
				<h1 class="text-white  text-2xl font-bold 
				text-center py-5">Signup</h1>

			<form class="w-[90%] m-auto flex flex-col h-full" method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				<div class="flex flex-col space-y-3">
					{% render_field form.username placeholder='Username' class='text-gray-500 rounded' %} 
                    {% render_field form.email placeholder="email" class='text-gray-500 rounded'  %} 
                    {% render_field form.password placeholder="password" class='text-gray-500 rounded'  %}
				</div>

				<button class="bg-black text-white font-bold rounded-md text-center py-2 w-[5rem] m-auto" type="submit">Signup</button>
			</form>
			
        </div>
		<a class="text-green-950 font-bold" href="{% url 'login' %}">Login</a>
		</section>

		{% endblock %}
